= simple_form_for @aircraft do |f|
  = f.input :name, label: 'Название', required: false
  = f.input :seat_counts, label: 'Количество мест', required: false
  = f.association :airline, label: 'Авиакомпания', required: false

  .actions
    = yield(f)
