.index-aircraft
  %h1.text-center.title Самолеты
  = link_to 'Добавить самолет', new_aircraft_path, class: 'new btn btn-primary'
  %table.table.table-bordered
    %thead
      %th №
      %th Наименование
      %th Количество мест
      %th Авиакомпания
      %th Действия
    %tbody
      - @aircrafts.each do |aircraft|
        %tr
          %td= aircraft.id
          %td= aircraft.name
          %td= aircraft.seat_counts
          %td= aircraft.name
          %td
            = link_to 'Редактировать', edit_aircraft_path(aircraft),
          class: 'btn btn-default'
            = link_to 'Удалить',  aircraft_path(aircraft), method:  :delete,
                                data: {confirm: 'Вы уверены?'}, class: 'btn btn-danger'
