.log-in
  %h2.text-center Вход
  .text-center
    = image_tag(asset_path('image_logo.png'), class: 'img-logo')
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.input :email, autofocus: true, autocomplete: 'email', label: 'Email', placeholder: 'Введите email'
    = f.input :password, autocomplete: 'current-password', label: 'Пароль', placeholder: 'Введите пароль'
    = f.input :remember_me, as: :boolean, label: 'Запомнить меня'
    .actions
      = f.submit 'Войти', class: 'btn btn-primary'
  .shared-links.text-center
    = render 'users/shared/links'

