.index-ticket
  %h1.text-center.title Билеты
  = link_to 'Добавить билет', new_ticket_path, class: 'new btn btn-primary'
  %table.table.table-hover
    %thead
      %th №
      %th Откуда
      %th Куда
      %th Время
      %th Цена
      %th Действия
    %tbody
      - @tickets.each do |ticket|
        %tr
          %td= ticket.id
          %td= ticket.from
          %td= ticket.to
          %td= ticket.departure_time
          %td= ticket.price
          %td
            = link_to 'Редактировать', '#', class: 'btn btn-default'
            = link_to 'Удалить', '#', class: 'btn btn-danger'