.index-ticket
  %h1.text-center.title Мои билеты
  %table.table.table-bordered
    %thead
      %th №
      %th Авиакомпания
      %th Откуда
      %th Куда
      %th Время
      %th Цена
    %tbody
      - @tickets.each do |ticket|
        %tr
          %td= ticket.id
          %td= ticket.flight.aircraft.airline.name
          %td= ticket.flight.from
          %td= ticket.flight.to
          %td= ticket.departure_time
          %td= ticket.price
