%nav.navbar.navbar-default{ role: 'navigation' }
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ data: { target: '#navbar-kaddisto-airways', toggle: 'collapse' }, type: 'button' }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path do
        = image_tag(asset_path('plane.png'))
    #navbar-kaddisto-airways.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-center
        %li
          = link_to 'Бронирование', flights_path
      %ul.nav.navbar-nav.navbar-right
        - if  user_signed_in? && current_user.admin?
          %li
            = link_to 'Панель администратора', admin_root_path
        %li
          - if user_signed_in?

            = link_to 'Выход', destroy_user_session_path, method: :delete
          - else
            = link_to 'Войти', new_user_session_path